<?xml version="1.0" encoding="utf-8" ?>
<!-- Swesim NLog Config template version 1.2 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="logs/nlog-internal.log" >
  
  <extensions>
    <add assembly="NLog.Targets.Gelf" />
  </extensions>
  
  <targets>
    <target xsi:type="File" name="slog" fileName="${basedir}/logs/${shortdate}.slog"
        layout="${longdate} L=${uppercase:${level}} V=${assembly-version} C=${callsite} M=${message} E=${exception}" />
    <target xsi:type="File" name="glog" fileName="${basedir}/logs/${shortdate}.glog"
        layout="${longdate};${message}" />
    <target name="Gelf" type="Gelf" gelfserver="192.168.10.20" port="12201" maxchunksize="8154" />
  </targets>

  <rules>
    <logger name="geofps" minlevel="Debug" writeTo="glog" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="slog" />
    <logger name="*" minLevel="Trace" appendTo="Gelf"/>
  </rules>
  
</nlog>