name: Build, test and publish .NET library (NuGet)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    # Setup
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
      
    # Build
    - name: Build
      run: dotnet build -c Release --no-restore
      
    # Test
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Pack
    - name: Pack
      run: dotnet pack -c Release --no-build -o .\artifacts
    
    # Publish
    - name: Push
      run: |
        dotnet nuget push ".\artifacts\*.nupkg" --api-key "${{ secrets.NUGET_API_KEY }}" --source "https://api.nuget.org/v3/index.json" --skip-duplicate
        dotnet nuget push ".\artifacts\*.snupkg" --api-key "${{ secrets.NUGET_API_KEY }}" --source "https://api.nuget.org/v3/index.json" --skip-duplicate
